<h1>Data Science Tools and Ecosystem using</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

1. List popular languages that Data Scientists use.
2. List commonly used libraries used by Data Scientists.
3. Comment on Data Science tools.

Some of the popular languages that Data Scientists use are:
1.Python.
2.R.
3.SQL.
4.Java.
5.Julia.
6.Scala.
7.C/C++.
8.JavaScript.

Some of the commonly used libraries used by Data Scientists include:
1.TensorFlow.
2.NumPy.
3.SciPy.
4.Pandas.
5.Matplotlib.
6.Keras.
7.SciKit-Learn.
8.Caffe2.

Data Science Tools:

SAS. It is one of those data science tools which are specifically designed for statistical operation,
Apache Spark,
BigML.

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [19]:
# Arithmetic operations
x = 8 + 3 * 9 - 5 / 9 ** 3
result = x
print(result)
# Output:34.99314128943759

34.99314128943759

In [20]:
x = 7
y = 3
z = x ** y
result = z
print(result)
# Output:343

343

In [21]:
a = 15
b = 3
c = a % b
result = c
print(result)
# Output:0

0

This a simple arithmetic expression to mutiply then add integers

In [22]:
(3*4)+5
# Output:17

17

This will convert 200 minutes to hours by diving by 60

In [23]:
days = 0
hours = 0
mins = 0
time = 200
leftover_minutes = time % 1440
hours = leftover_minutes / 60
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) + " mins.")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

<h2>Author</h2>

Lakshmi Holla

Niveditha Pandith